{% extends "layout.html" %}
{% block content %}
<h3>Admin: Login/Logout History</h3>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Staff ID</th><th>Login Time</th><th>Logout Time</th>
        </tr>
    </thead>
    <tbody>
        {% for h in history %}
        <tr>
            <td>{{ h.staff_id }}</td>
            <td>{{ h.login_time }}</td>
            <td>{{ h.logout_time if h.logout_time else "Active" }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
